<<<<<<< Updated upstream
=======
@tailwind base;
@tailwind components;
@tailwind utilities;

.submit-btn:hover{
    transform: scale(1.02);
box-shadow: 0 0 20px rgba(255, 78, 205, 0.6);

}


.card-content{
    position:relative;
}

@property --angle{
    syntax:"<angle>";
    initial-value:0deg;
    inherits:false;
}

.card-content::after , .card-content::before{
    --angle : 0deg;
    content:' ';
    position:absolute;
    height:100%;
    width:100%;
    background-image:conic-gradient(from var(--angle) ,transparent 70%,white);
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) scale(1.02);
    border-radius:12px;
    z-index:-1;
    padding:100px;
    animation : 7s spin linear infinite;
    
}

.card-content::before{
    filter:blur(1.5rem);
    opacity:0.5;
}

@keyframes spin {
    from{
        --angle:0deg;
    }
    to{
        --angle:360deg;
    }
}
>>>>>>> Stashed changes
